app/src/main/AndroidManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="action">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="category">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="activity">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
          <xs:attribute ref="and:theme" xmlns:and="http://schemas.android.com/apk/res/android"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="intent-filter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="action"/>
        <xs:element ref="category"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="application">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="activity" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="intent-filter"/>
      </xs:sequence>
      <xs:attribute ref="and:allowBackup" xmlns:and="http://schemas.android.com/apk/res/android"/>
      <xs:attribute ref="and:icon" xmlns:and="http://schemas.android.com/apk/res/android"/>
      <xs:attribute ref="and:label" xmlns:and="http://schemas.android.com/apk/res/android"/>
      <xs:attribute ref="and:roundIcon" xmlns:and="http://schemas.android.com/apk/res/android"/>
      <xs:attribute ref="and:supportsRtl" xmlns:and="http://schemas.android.com/apk/res/android"/>
      <xs:attribute ref="and:theme" xmlns:and="http://schemas.android.com/apk/res/android"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="manifest">
    <xs:annotation>
      <xs:documentation>suppress ALL</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="application"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="package"/>
    </xs:complexType>
  </xs:element>
</xs:schema>